<div id="start" phx-hook="Bell">
  <%= if @prefight do %>
    <div class="text-center mt-8 text-2xl max-w-xl mx-auto">
      <img
        src="https://github.com/replicate/zoo/assets/14149230/33200a52-b615-4f77-ba01-03a1a9ad4d78"
        alt="llama 2 vs gpt-3.5 fight preview"
        class="rounded-lg shadow-2xl border-4 border-red-500 my-8"
      />
      <p>
        <a class="underline" href="https://ai.meta.com/llama/">Llama2</a>
        has taken the world by storm. Many have
        claimed <a class="underline" href="https://news.ycombinator.com/item?id=36778932">performance similar to OpenAI's GPT-3.5</a>.
        <br /><br /> Each round, pick the output you think is better. Each model has 10 hitpoints.
        <br /><br /> Enough talk. Let's settle this in the ring.
      </p>

      <button
        phx-click="start"
        class="mt-6 text-white bg-red-600 px-4 py-2 rounded-lg hover:bg-red-500"
      >
        Start Fight
      </button>
    </div>
  <% else %>
    <div class="absolute top-2 right-2 font-fight">
      <div class="w-96">
        <dl class="mt-5 grid gap-5 grid-cols-2">
          <%= for score <- @score do %>
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
              <dt class="truncate text-sm font-medium text-gray-500">
                <%= score.human_name %>
              </dt>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">
                <%= score.score %> / <%= @winning_score %>
              </dd>
            </div>
          <% end %>
        </dl>
      </div>
    </div>

    <div class="mt-16">
      <h5 class="text-4xl font-bold">"<%= @text_prompt %>"</h5>
    </div>

    <div id="results" phx-hook="Confetti" class="mt-6">
      <h5 id="header" class="text-2xl font-bold">
        Which is a better response?
      </h5>

      <%= if @show_results do %>
        <div class="text-center mx-auto mt-16 font-bold">
          <p>
            <%= @snarky_response %>
          </p>
          <p class="text-xs italic text-gray-500">snark provided by gpt-4</p>

          <%= if is_nil(@winner) do %>
            <button
              class="font-fight mt-6 text-white bg-red-600 px-4 py-2 rounded-lg hover:bg-red-500"
              phx-click="next"
            >
              Next Round in <%= round((4000 - @progress) / 1000) %> &rarr;
            </button>
          <% else %>
            <.link
              class="font-fight mt-6 text-white bg-red-600 px-4 py-2 rounded-lg hover:bg-red-500"
              navigate="/"
            >
              Play Again
            </.link>
          <% end %>
        </div>
      <% end %>

      <div class="grid grid-cols-2 gap-4 mt-10">
        <%= for {prompt, i} <- @prompts |> Enum.with_index() do %>
          <div class={"#{if not is_nil(@round_winner) and @round_winner.model == prompt.model, do: "text-green-500"} border font-mono rounded-lg relative p-4 shadow-lg hover:shadow-xl hover:bg-gray-100"}>
            <p class="model font-bold mb-4">
              <%= if @show_results,
                do: prompt.model,
                else: "Contestant #{i + 1}" %>
            </p>

            <button
              :if={not @show_results}
              phx-click="select"
              phx-value-id={prompt.id}
              phx-value-submission-id={prompt.submission_id}
              class="absolute inset-0 select-button"
            >
            </button>
            <p class="whitespace-pre-line"><%= prompt.completion %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= if @winner do %>
    <.modal id="winner" show>
      <div>
        <.header>
          <%= @winner.human_name %> wins!
        </.header>
        <div class="mt-4">
          <span id="results">
            LlamaFight Results:
            <%= for emoji <- @vote_emojis do %>
              <%= emoji %>
            <% end %>
          </span>
          <.button id="CopyClipboard" phx-hook="CopyToClipboard">Share Results</.button>
        </div>
      </div>
    </.modal>
  <% end %>
</div>
