<div id="start" phx-hook="Bell">
  <%= if @prefight do %>
    <div class="text-center mt-8 text-2xl max-w-xl mx-auto">
      <img
        src="https://github.com/replicate/zoo/assets/14149230/33200a52-b615-4f77-ba01-03a1a9ad4d78"
        alt="llama 2 vs gpt-3.5 fight preview"
        class="rounded-lg shadow-2xl border-4 border-red-500 my-8"
      />
      <p>
        <a class="underline" href="https://ai.meta.com/llama/">Llama2</a>
        has taken the world by storm. Many have
        claimed <a class="underline" href="https://news.ycombinator.com/item?id=36778932">performance similar to OpenAI's GPT-3.5</a>.
        <br /><br /> Each round, pick the output you think is better. Each model has 10 hitpoints.
        <br /><br /> Enough talk. Let's settle this in the ring.
      </p>

      <button
        phx-click="start"
        class="mt-6 text-white bg-red-600 px-4 py-2 rounded-lg hover:bg-red-500"
      >
        Start Fight
      </button>
    </div>
  <% else %>
    <div class="font-fight">
      <div class="">
        <dl class="mt-5 grid gap-5 grid-cols-2">
          <%= for {score, i} <- @score |> Enum.with_index() do %>
            <div class={"#{if i == 1, do: "text-right"} overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6"}>
              <dt class="truncate text-sm font-medium text-gray-500">
                <%= score.human_name %> Hit Points
              </dt>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">
                <%= score.health %>

                <div class={"#{if i == 1, do: "transform scale-x-[-1]"} w-full bg-red-200 rounded-full h-2.5 mb-4"}>
                  <div
                    class="bg-blue-600 h-2.5 rounded-full"
                    style={"width: #{score.health * 10}%"}
                  >
                  </div>
                </div>
              </dd>
            </div>
          <% end %>
        </dl>
      </div>
    </div>

    <div class="mt-16">
      <h5 class="text-4xl font-bold">"<%= @text_prompt %>"</h5>
    </div>

    <div id="results" phx-hook="Confetti" class="mt-6">
      <h5 id="header" class="text-xl text-gray-700">
        Which is a better response?
      </h5>

      <%= if @show_results do %>
        <div class="text-center mx-auto mt-10 font-bold">
          <p>Round Winner: <%= @round_winner.model %></p>

          <%= if @round_winner.model |> String.contains?("llama") do %>
            <img
              class="h-44 rounded-lg mx-auto mt-4"
              src={~p"/images/llama.png"}
              alt="llama boxing"
            />
          <% else %>
            <img
              class="h-44 rounded-lg mx-auto mt-4"
              src={~p"/images/gpt.png"}
              alt="gpt-3.5 boxing"
            />
          <% end %>

          <%= if is_nil(@winner) do %>
            <button
              class="font-fight mt-6 text-white bg-red-600 px-4 py-2 rounded-lg hover:bg-red-500"
              phx-click="next"
            >
              Next Round in <%= round((4000 - @progress) / 1000) %> &rarr;
            </button>
          <% else %>
            <div class="mt-6">
              <.link
                class="font-fight text-white bg-red-600 px-4 py-2 rounded-lg hover:bg-red-500"
                navigate="/"
              >
                Play Again
              </.link>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="grid grid-cols-2 gap-4 mt-10">
        <%= for {prompt, i} <- @prompts |> Enum.with_index() do %>
          <div class=" border font-mono rounded-lg relative p-4 shadow-lg hover:shadow-xl hover:bg-gray-100">
            <p class="model font-bold mb-4">
              <%= if @show_results,
                do: prompt.model,
                else: "Contestant #{i + 1}" %>

              <%= if not is_nil(@round_winner) and @round_winner.model == prompt.model do %>
                <span class="text-green-600">🎉 Round Winner 🎉</span>
              <% end %>
            </p>

            <button
              :if={not @show_results}
              phx-click="select"
              phx-value-id={prompt.id}
              phx-value-submission-id={prompt.submission_id}
              class="absolute inset-0 select-button"
            >
            </button>
            <p class="whitespace-pre-line"><%= prompt.completion %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= if @winner do %>
    <.modal id="winner" show>
      <div>
        <.header>
          <%= @winner.human_name %> wins!
        </.header>
        <div class="mt-4">
          <span id="scoreboard">
            LLM Boxing Results: <br />
            <%= for emoji <- @vote_emojis do %>
              <%= emoji %>
            <% end %>
          </span>
          <div class="mt-12">
            <.button id="CopyClipboard" phx-hook="CopyToClipboard">Copy Results</.button>
          </div>
        </div>
      </div>
    </.modal>
  <% end %>
</div>
