<.header>
  Listing Prompts
</.header>

<.table
  id="prompt"
  rows={@streams.prompt_collection}
>
  <:col :let={{_id, prompt}} label="Completion"><%= prompt.prompt %></:col>
  <:col :let={{_id, prompt}} label="Completion"><%= prompt.completion %></:col>
  <:col :let={{_id, prompt}} label="Model"><%= prompt.model %></:col>
  <:col :let={{_id, prompt}} label="Version"><%= prompt.version %></:col>
  <:col :let={{_id, prompt}} label="Time"><%= prompt.time %></:col>
  <:col :let={{_id, prompt}} label="Submission"><%= prompt.submission_id %></:col>
</.table>
