<.header>
  Prompt <%= @prompt.id %>
  <:subtitle>This is a prompt record from your database.</:subtitle>
</.header>

<.list>
  <:item title="Completion"><%= @prompt.completion %></:item>
  <:item title="Model"><%= @prompt.model %></:item>
  <:item title="Version"><%= @prompt.version %></:item>
  <:item title="Time"><%= @prompt.time %></:item>
</.list>
