<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="">
      <%= assigns[:page_title] || "LLM Boxing • Choose your Champion" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="LLM Boxing • Choose your Champion" />
    <meta name="twitter:description" content="Language Model Face Off" />
    <meta property="twitter:image" content={~p"/images/stats.png"} />
    <meta property="og:type" content="image" />
    <meta property="og:image" content={~p"/images/stats.png"} />
    <meta property="og:url" content="https://llmboxing.com" />
    <meta property="og:description" content="Language Model Face Off" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Iceberg&family=Press+Start+2P&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js">
    </script>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZX9GRH7V62">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZX9GRH7V62');
    </script>
  </head>

  <body class="bg-white antialiased">
    <%= @inner_content %>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js">
    </script>
  </body>
</html>
