@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.fade-in {
    animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

@keyframes fade-in-keys {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
